* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 12px;
}
#new-quote-button {
  text-align: center;
  margin-top: 20px;
}
#author-photo {
  border-radius: 50%;
}
.container {
  background-color: rgb(230, 235, 235);
}
